<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="stylesheet" href="/static/css/normalize.css">    
   
</head>
  

<body>

    <div class="topo">
        <div>
        <img src="/static/img/logo.png" alt="Logo">
        </div>
        <div>
            <style> .links { text-align: end;}</style>
            <p class="links">
            <a href="/">Home</a> 
            |
            <a href="/quemsomos">Quem-Somos</a>
            |
            <a href="/contato">Contato</a>
              

            </p>
        </div> 
    </div>   

{% block conteudo  %}

{% endblock %}
    
        <div class="rodape">
        <h4>
            Todos os Direitos Reservados!
        </h4>
        </div>
</body>
</html>